:host {
    font-family: 'Noto Serif', serif;
}

.datBoarderLife {

    min-height: 300px;
    padding: 5px;
    text-align: center;
}

.title {
    justify-self: center;
}

.container {
    display: grid;
}

.userName {
    margin: 5px 5px;
    padding-top: 10px;
    justify-self: center;
}