:host {
    font-family: Arial, Helvetica, sans-serif;
}

.datBoarderLife {
    background: #2BCE91;
    background: -moz-linear-gradient(top, #2BCE91 0%, #30A480 50%, #2DB8C5 100%);
    background: -webkit-linear-gradient(top, #2BCE91 0%, #30A480 50%, #2DB8C5 100%);
    background: linear-gradient(to bottom, #2BCE91 0%, #30A480 50%, #2DB8C5 100%);
    padding: 5px;
    text-align: center;
}

.title {
    justify-self: center;
}

.container {
    display: grid;
}

.userName {
    margin: 5px 5px;
    justify-self: center;
}