<div class="container">
    <div class="Heading1">
        <h1>Username</h1>
    </div>
    <div class="Heading2">
        <h1>Win Ratio</h1>
    </div>
    <div class="Heading3">
        <h1>Turns Played</h1>
    </div>
    <div class="Heading4">
        <h1>Last 5 Games</h1>
    </div>
</div>
<div class="container2" *ngFor="let poo of LeaderBoardService.Leaderboard">
<p class="leftColomn">{{poo.username}}</p>
<p class="middleLeftColomn">{{poo.winRatio}}</p>
<p class="middleRightColomn">{{poo.turnPlayed}}</p>
<p class="rightColomn">{{poo.last5Games}}</p>

</div>



<a class="playAgainLink" routerLink="base" (click)="tryAgain()">Play Again</a> 