<p>fuck yeah leaderboard works!</p>
<div class="container">
    <div class="Heading1"> <h1>Username</h1></div>
    <div class="Heading2"> <h1>Win Ratio</h1></div>
    <div class="Heading3"> <h1>turns Played</h1></div>
    <div *ngFor="let poo of LeaderBoardService.Leaderboard">

        <div class="leftColomn">
            <p>{{poo.username}}</p>
            
        </div>
        <div class="middleColomn">
          <p>{{poo.winRatio}}</p>  
        </div>
        <div class="rightColomn">
           <p>{{poo.turnPlayed}}</p>  
        </div>
    </div>
</div>

<a routerLink="base" (click)="tryAgain()">play again</a>