.display{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.Playerchoice{
    display: inline;
}

.Compchoice{
    display: inline;
}


img {
    height: 300px;
    width: 300px;
    padding: 30px;
}
h1 {
    text-align: center;
    padding: 10px;
}
.win{
font-size: 30px;
color: green;
}
.lose{
font-size: 30px;
color: red;
}
.draw{
font-size: 35px;
color: black;
}