.display{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.Playerchoice{
    display: inline;
}

.Compchoice{
    display: inline;
}


img {
    height: 300px;
    width: 300px;
}
h1 {
    display: flex;
    justify-self: center;
}