.container div{
    display: inline-block;
    padding: 30px;
}

.Results {
    align-self: center;
}

img {
    height: 300px;
    width: 300px;
    padding: 10px;
}

.Win {
color: green;
}

.Lose {
color: red;  
}

.Draw {
color: orchid; 
}