.display{
    height: 300px;
    width: 300px;
    margin: 40px;
    display: inline-block;
}

.display.paper{
    /* background-color: green; */
}

.display.scissors{
    /* background-color: blue; */
}

.display.rock{
    /* background-color: red; */
}

.Image{
    height: 200px;  
    width: 200px; 
    margin: 5px;
}


.shoot {

}

.SelectedOption {
    background-color: yellow;
}

.none {
    background: none;
}