.container{
    display: grid;
    justify-content: center;
}

.options {
/* this is so i can centre the rock/paper/scissors  */
}

.display{
    height: 300px;
    width: 300px;
    margin: 40px;
    display: inline-block;
}

.Image{
    height: 300px;  
    width: 300px; 
    padding: 5px;
}
img:hover{
    background-color: yellow;
}

.ShootandScore {
/* for dem button options */
justify-self: center;
}


.shoot {
display: flex;
align-self: center;
}

.SelectedOption {
    background-color: yellow;
}

.none {
    background: none;
}

.changeBackground{
    background-color: yellow;
}