<!-- 
    what i want to do:
    on hover will increase the size of the choice (rock,paper,scissors)
    on hover will have a pop up panel describing the item (most likely jokes)
    on pick will change background colour to light grey or something sxy -- [ngClass]="{'SelectedOption: highlighted, none:!highlighted'"
    https://codesandbox.io/s/38xzry6qvq?file=/src/app/app.component.ts

    centre this component
    all round make it sexy

    going to have to fix this, probs need to do this another way
    <input type="text" placeholder="username" [(ngModel)]="GameService.userName"> -->
<div class="container">
    <div class="options">
        <div class="display paper"
            (click)="SelectOption('Paper')">
            <!-- storing the images or media in the asset folder
    could also put in the URL of an image
    -->
            <img [ngClass]="{SelectedOption: this.toggleHighlighted == 'Paper'}" class="Image" src="/assets/paper.png" alt="">
            </div>
        <!-- [ngClass]="{SelectedOption: this.toggleHighlighted == 'Scissors'}"
            this works by setting the class "SelectedOption" when the following option is true 
            in this case its when this.toggleHighlighted == the option picked-->
        <div  class="display scissors"
            (click)="SelectOption('Scissors')">
            <img [ngClass]="{SelectedOption: this.toggleHighlighted == 'Scissors'}" class="Image" src="/assets/scissors.png" alt="">
            </div>
        <div  class="display rock"
            (click)="SelectOption('Rock')">
            <img [ngClass]="{SelectedOption: this.toggleHighlighted == 'Rock'}" class="Image" src="/assets/rock.png" alt="">
            </div>
        <br>
    </div>

<!-- setting this below to disabled if an option hasnt been picked -->
<div class="ShootandScore">
<button class="shoot" (click)="Shoot()" [disabled]="SelectionMade === false">Shoot</button>
<br>
<a routerLink="/Leaderboard">Score board</a>
</div>
</div>
