.display{
    height: 300px;
    width: 300px;
    margin: 40px;
    display: inline-block;
}

.Image{
    height: 200px;  
    width: 200px; 
    margin: 5px;
}


.shoot {
display: flex;
align-self: center;
}

.SelectedOption {
    background-color: yellow;
}

.none {
    background: none;
}

.changeBackground{
    background-color: yellow;
}